extends layout

block content
	.page-title
		.container
			.row
				.span12
					i.icon-user.page-title-icon
					h2 Minha Conta /
					p Acesse suas configurações
	.container
		.row
			.span12 Minha Conta