extends layout

block content
	.page-title
		.row
			.span12
				i.icon-shopping-cart.page-title-icon
				h2 Meu Carrinho /
				p Confira aqui os itens do carrinho
	.container
		.row
			.span12 Carrinho