// Footer 
footer
  .container
    .row
      .widget.span3
        h4 Sobre Nós
        p
          | A Bella é uma empresa que atua no ramo da beleza desde 1992, sempre unindo a qualidade ao bom preço.
        p
          a(href='/sobre') Mais...
      .widget.span3
        h4 Twitter
        .show-tweets
      .widget.span3
        h4 Flickr
        ul.flickr-feed
      .widget.span3
        h4 Contato
        p
          i.icon-map-marker
          | Endereço: Pça Cipriano Barcelos, POP Center, Loja 95, Pelotas, RS, Brasil
        p
          i.icon-phone
          | Fone: 53 3027 2894
        p
          i.icon-user
          | Skype: bella
        p
          i.icon-envelope-alt
          | Email:
          a(href='') contato@bella.com
    .footer-border
    .row
      .copyright.span5
        p
          | Copyright 2013 Bella - Todos os direitos resevados. Template by
          a(href='http://azmind.com')  Azmind
          | .
      .social.span7
        a.facebook(href='')
        a.twitter(href='')
        a.pinterest(href='')