
extends layout

block content
  // Slider
  .slider
    .container
      .row
        .span10.offset1
          .flexslider
            ul.slides
              li(data-thumb='products/slider/1.jpg')
                a(href='product.html')
                  img(src='products/slider/1.jpg')
              li(data-thumb='products/slider/2.jpg')
                a(href='product.html')
                  img(src='products/slider/2.jpg')
              li(data-thumb='products/slider/3.jpg')
                a(href='product.html')
                  img(src='products/slider/3.jpg')
              li(data-thumb='products/slider/4.jpg')
                a(href='product.html')
                  img(src='products/slider/4.jpg')
  //
     Products 
  .products.container
    .row
      .product.span3
        a(href='')
          img(src='products/img/01.jpg', alt='')
          h4 Creme Nívea Alemão
          p Peso Liq.: 56g
          p.price R$ 29,40
        a(href='assets/img/portfolio/work1.jpg', rel='prettyPhoto')
          i.icon-shopping-cart
          |  Comprar
      .product.span3
        a(href='')
          img(src='products/img//2.jpg', alt='')
          h4 Lápis de olho Jordana
          p Diversas Cores
          p.price R$ 12,49
        a(href='assets/img/portfolio/work1.jpg', rel='prettyPhoto')
          i.icon-shopping-cart
          |  Comprar
      .product.span3
        a(href='')
          img(src='products/img/03.jpg', alt='')
          h4 Kit de maquiagem P&W
          p Sombra, Rímel, Lápis, pincel e muito mais
          p.price R$ 179,40
        a(href='assets/img/portfolio/work1.jpg', rel='prettyPhoto')
          i.icon-shopping-cart
          |  Comprar
      .product.span3
        a(href='')
          img(src='products/img/04.jpg', alt='')
          h4 Perfume Marina de Bourbon Royal
          p Conteúdo 100ml
          p.price R$ 119,94
        a(href='assets/img/portfolio/work1.jpg', rel='prettyPhoto')
          i.icon-shopping-cart
          |  Comprar
  .products.container
    .products-sparator
    .row
      .product.span3
        a(href='')
          img(src='products/img/01.jpg', alt='')
          h4 Creme Nívea Alemão
          p Peso Liq.: 56g
          p.price R$ 29,40
        a(href='assets/img/portfolio/work1.jpg', rel='prettyPhoto')
          i.icon-shopping-cart
          |  Comprar
      .product.span3
        a(href='')
          img(src='products/img//02.jpg', alt='')
          h4 Lápis de olho Jordana
          p Diversas Cores
          p.price R$ 12,49
        a(href='assets/img/portfolio/work1.jpg', rel='prettyPhoto')
          i.icon-shopping-cart
          |  Comprar
      .product.span3
        a(href='')
          img(src='products/img//03.jpg', alt='')
          h4 Kit de maquiagem P&W
          p Sombra, Rímel, Lápis, pincel e muito mais
          p.price R$ 179,40
        a(href='assets/img/portfolio/work1.jpg', rel='prettyPhoto')
          i.icon-shopping-cart
          |  Comprar
      .product.span3
        a(href='')
          img(src='products/img/04.jpg', alt='')
          h4 Perfume Marina de Bourbon Royal
          p Conteúdo 100ml
          p.price R$ 119,94
        a(href='assets/img/portfolio/work1.jpg', rel='prettyPhoto')
          i.icon-shopping-cart
          |  Comprar
  .products.container
    .products-sparator
    .row
      .product.span3
        a(href='')
          img(src='products/img/01.jpg', alt='')
          h4 Creme Nívea Alemão
          p Peso Liq.: 56g
          p.price R$ 29,40
        a(href='assets/img/portfolio/work1.jpg', rel='prettyPhoto')
          i.icon-shopping-cart
          |  Comprar
      .product.span3
        a(href='')
          img(src='products/img//02.jpg', alt='')
          h4 Lápis de olho Jordana
          p Diversas Cores
          p.price R$ 12,49
        a(href='assets/img/portfolio/work1.jpg', rel='prettyPhoto')
          i.icon-shopping-cart
          |  Comprar
      .product.span3
        a(href='')
          img(src='products/img//03.jpg', alt='')
          h4 Kit de maquiagem P&W
          p Sombra, Rímel, Lápis, pincel e muito mais
          p.price R$ 179,40
        a(href='assets/img/portfolio/work1.jpg', rel='prettyPhoto')
          i.icon-shopping-cart
          |  Comprar
      .product.span3
        a(href='')
          img(src='products/img/04.jpg', alt='')
          h4 Perfume Marina de Bourbon Royal
          p Conteúdo 100ml
          p.price R$ 119,94
        a(href='assets/img/portfolio/work1.jpg', rel='prettyPhoto')
          i.icon-shopping-cart
          |  Comprar
